# File : Maxwell.cfg
# To be used as a template config file for FVlite.cpp

RunName = "data/Maxwell";

Output: // Name output file, how often to print, whether to print initial conditions
{
    RunName = "Maxwell";
    PrintEvery = 10000;
    PrintInitial = true;
    PrintCutCells = true;
}

Grid:  // Determines grid dimensions, characteristics, etc
{
    size = { x = 1.0; y = 1.0;};
    cells = { x = 800; y = 800;};
};

Timing:  // Lists params related to timestepping
{
    CFL = 0.7;
    tmax = 2e-8;
};

FVM: // 'Finite Volume Method'. Choose type of solver, flux scheme, limiter.
{
//    type = "Std";
    type = "CutCell";
    scheme  = "SLIC";
    limiter = "None";
};


Initialisation:
{
    module1:
    {
        type = "Background";
        inner = true;
        solid = false;
        rank = 1;
        params:
        {
            state = { Ex=0.0; 
                      Ey=0.0;
                      Ez=0.0;
                      Hx=0.0;
                      Hy=0.0;
                      Hz=0.0;}
        }
    }


    module3:
    {
        type = "Circle";
        inner = true;
        solid = true;
        rank = 3;
        params:
        {
            center  = { x=0.5;
                        y=0.5;}
            radius  = 0.125;
        }
    }
}

Boundaries: // Specify bounday conditions at each wall, and the behaviour of internal boundaries
{
#    boundary1:
#    {
#        region = "internal";
#        type = "Reflective";
#    }

    boundary2:
    {
        region = "leftwall";
        type = "Sine";
        params:
        {
            amplitude=1.0;
            frequency=1e10;
            polarisation="TE";
        }
    }

#    boundary2:
#    {
#        region = "leftwall";
#        type   = "Transmissive";
#    }

    boundary3:
    {
        region = "rightwall";
        type = "Transmissive";
    }

#    boundary4:
#    {
#        region = "upperwall";
#        type = "Sine";
#        params:
#        {
#            amplitude=1.0;
#            frequency=5e9;
#            polarisation="TE";
#        }
#    }

    boundary4:
    {
        region = "upperwall";
        type = "Transmissive";
    }


#    boundary5:
#    {
#        region = "lowerwall";
#        type = "Sine";
#        params:
#        {
#            amplitude=1.0;
#            frequency=1e10;
#            polarisation="TE";
#        }
#    }

    boundary5:
    {
        region = "lowerwall";
        type = "Transmissive";
    }
};

### eof
